header
{
	background: #000615;
	padding: 20px 0;
}
body
{
	min-height: 100%;
	background: #ffffff;
}
#caixa
{
	display: flex;
	position: relative;
	width: 940px;
	margin: 0 auto;
}
main
{
	margin-left: 280px;
	margin-right: 280px;
}
.icone-header
{
	width: 177px;
	height: 250px;
}
.icone-header:hover
{
	opacity: 0.8;
	transition: all 0.3s;
}
nav
{
	position: absolute;
	top: 120px;
	right: 270px;
}
nav li
{
	display: inline;
	margin: 0 0 0 15px;
}
nav a
{
	position: relative;
	text-transform: uppercase;
	color: #000000;
	color: #ffffff;
	font-family: Impact;
	font-size: 26px;
	text-decoration: none;
}
nav a:hover
{
	color: brown;
	transition: all 0.3s;

}
nav a:active
{
	color: #c49028;
}

.agendarnav
{
	padding:5px 5px;
	background: #ffffff;
	color:brown;
	border-radius: 5px;
}
.agendarnav:hover
{
	color: #ffffff;
	background: #000615;
	transition: all 0.4s;
}
.redesociais
{
	position: absolute;
	display: inline;
	right: 70px;
	top: 100px;
}
.icons
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
.icons li
{
	padding: 4px;
}
.icons a :hover
{
	opacity: 0.8;
}
.instagram-icon
{
	width: 16px;
	height: 16px;
}
.twitter-icon
{
	width: 16px;
	height: 16px;
}
.facebook-icon
{
	width: 16px;
	height: 16px;
}
.caixa-titulo
{
	width: 100%;
	height: 300px;
	background: url("beneficios2.jpg");
	-webkit-mask-image: linear-gradient(to top, transparent 0%, #e6e1d8 70%);
}
.subtitulo
{
	position: relative;
	text-transform: uppercase;
	color: #000615;
	font-family: Impact;
	font-size: 80px;
	text-align: center;
	padding-top: 110px; 
}
#bigode
{
	color: #000615;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 60px;
}
main
{
    width:940px;
    margin:0 auto;
}
form
{
    padding: 50px;
}
form label, form legend
{
    display:block;
    font-size: 16px;
    color: #757575;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0 0 10px;
}
::placeholder
{
	color: brown;
	opacity: 0.4;
	font-style: italic;
}
.input-padrao
{
    display:block;
    margin:0 0 20px;
    padding:10px 25px;
	width: 100%;
}
.opcao-escolha, .opcao-escolha legend
{
	display:block;
	margin:0 0 15px;
	padding:10px 0px;
}
.opcao-horario
{
	display:block;
	margin:0 0 15px;
}
select
{
	width: 250px;
	cursor: pointer;
	text-align: center;
	font-size: 13px;
	color: #757575;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.checkbox
{
	margin: 30px 0;
}

.enviarinput
{
	background: brown;
	text-transform: uppercase;
	color: white;
	width: 100px;
	height: 50px;
	border-style: none;
	border-radius: 5px;
	font-size: 15px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.enviarinput:hover
{
	background-color: #000615;
	color:white;
	transition: 0.3s;
	cursor: pointer;
}
.enviarinput:active
{
	color: #fffb00;
}
footer
{
	text-align: center;
	background: #000615;
	padding: 20px 0;
	align-items: center;
}
footer p
{
	font-family: Segoe UI;
	font-size:14px;
	color:#e6e1d8;
}
.assinatura
{
	padding: 70px;
}

footer nav
{
	position:relative;
	display: inline-flex;
	align-items: center;
	text-align: center;
	top: 30px;
	margin-left: 530px;
}
footer nav a
{
	position: relative;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	color: white;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	cursor: pointer;
}
footer li
{
	display: inline;
	margin: 0 0 0 18px
}
footer nav a:hover
{
	color: #c49028;
}
footer nav a:active
{
	color: white;
}
.agendarnavfooter
{
	padding:5px 5px;
	background: brown;
	color:#ffffff;
	border-radius: 5px;
}
.agendarnavfooter:hover
{
	
	color: white;
	background: #1d1a19;
	transition: all 0.3s;
	
}
.redesociais-footer
{
	position: relative;
	display: inline;
	right: -50px;
	top:-40px;
}
.icons-footer
{
	display: inline;
	position: relative;
	padding-top: -px;
	padding-right: 100px;
}
.icons-footer li
{
	padding: 0px;
}
.icons-footer a :hover
{
	opacity: 0.8;
}
#logofooter
{
	width: 88.5px;
	height: 125px;
}
#logofooter:hover
{
	opacity: 0.8;
}
.flexbox
{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 200px;
	margin-right:200px;
}